[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/ReMon-MVEE/ReMon-llvm.git
	branch = ReMon
[submodule "deps/binutils"]
	path = deps/binutils
	url = https://sourceware.org/git/binutils-gdb.git
